<div class="row">
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/happyCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/neutralCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/sadCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/stressedCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/angryCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="/images/emojis/tiredCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
</div>