<div class="row">
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="happyCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="neutralCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="sadCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="stressedCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="angryCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
    <div class="col-sm">
        <a href="#">
            <img class="rounded mx-auto d-block" src="tiredCapture.PNG">
            <p class="text-center text-dark"></p>
        </a>
    </div>
</div>