<div class="row selectable">

    <img class="rounded mx-auto d-block ui-widget-content" id="happy" src="/images/emojis/happyCapture.PNG">

    <img class="rounded mx-auto d-block ui-widget-content" id="neutral" src="/images/emojis/neutralCapture.PNG">

    <img class="rounded mx-auto d-block ui-widget-content" id="sad" src="/images/emojis/sadCapture.PNG">

    <img class="rounded mx-auto d-block ui-widget-content" id="stressed" src="/images/emojis/stressedCapture.PNG">

    <img class="rounded mx-auto d-block ui-widget-content" id="angry" src="/images/emojis/angryCapture.PNG">

    <img class="rounded mx-auto d-block ui-widget-content" id="tired" src="/images/emojis/tiredCapture.PNG">

</div>