<div class="jumbotron bg-light">
            <h1 class="display-4">Heres how you have been feeling</h1>
            <div class="container mt-4">
                    {{> emoji}}
                <br>
                        <!--add colx6 including self status totals-->
            </div>
        </div>