<div class="hero">

    <div class="content">
    <h1 class="wlcm">Welcome to <span class="brandt">Work Feelings</span>!™</h1>
    <p>Our application is designed to help you better understand how you are feeling day-to-day, and facilitate compassion and empathy within teams and departments!</p>
    <p>Sign up now and get started, or if you've already signed up, log in and check in!</p>
</div>
</div>