<div class="jumbotron bg-light">
    <h1 class="display-4">Welcome to Work Feelings!™</h1>
    <p class="lead">Our application is designed to help you better understand how you are feeling day-to-day, and facilitate compassion and empathy within teams and departments!</p>
    <hr class="my-4">
    <p>Sign up now and get started, or if you've already signed up, log in and check in!</p>
    <p class="lead">
    </p>
</div>