{{!-- <div class="container">
    <div class="home-wrap" 
        <div class="home-inner">

        </div>
    </div>
</div>
<div class="caption text-center">
   <h1 >Welcome to <span class="brandt">Work Feelings</span>!™</h1>
   <p class=" ">Our application is designed to help you better understand how you are feeling day-to-day, and facilitate compassion and empathy within teams and departments!</p>

   <p class="">Sign up now and get started, or if you've already signed up, log in and check in!</p> 
</div> --}}

<div class="hero" ">

    <div class="content">
    <h1 class="wlcm">Welcome to <span class="brandt">Work Feelings</span>!™</h1>
    <p>Our application is designed to help you better understand how you are feeling day-to-day, and facilitate compassion and empathy within teams and departments!</p>
    <p>Sign up now and get started, or if you've already signed up, log in and check in!</p>
</div>
</div>


{{!-- how to wrap this text added a container class --}}











{{!-- <div class="jumbotron bg-light">
    <h1 class="display-4">Welcome to Work Feelings!™</h1>
    <p class="lead">Our application is designed to help you better understand how you are feeling day-to-day, and facilitate compassion and empathy within teams and departments!</p>
    <hr class="my-4">
    <p>Sign up now and get started, or if you've already signed up, log in and check in!</p>
    <img src="/images/happy-work.jpeg" id="happy-work" alt="happy-work-environment">
    <p class="lead">
    </p>
</div> --}}
