<section class="center">
<form class="login-form col-12 col-sm-6 col-md-3 form-container justify-content-center">
    <div class="form-group">
        <label for="email-login inputEmail">Email:</label>
        <input type="email" class="form-control" id="email-login"placeholder="Email" />
    </div>
    <div class="form-group">
        <label for="password-login inputPassword">Password:</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
    </div>
    <div>
        <button type="submit" class="btn btn-secondary btn-block">Login</button>
    </div>
</form>
</section>
<section class="center">
<form class="signup-form col-12 col-sm-6 col-md-3 form-container ">
    <div >
        <label for="first-name" >First Name:</label>
        <input type="text" id="first-name" class="form-control" />
    </div>
    <div >
        <label for="last-name ">Last Name:</label>
        <input type="text" id="last-name" class="form-control"/>
    </div>
    <div >
        <label for="departments " >Department:</label>
        <select id="departments" class="form-control">
            <option disabled selected value> -- select an option -- </option>
            <option value='1'> Sales</option>
            <option value='2'> Human Resource</option>
            <option value='3'> Marketing</option>
            <option value='4'> IT</option>
            <option value='5'> Finance</option>
        </select>
    </div>
    <div class="inputEmail">
        <label for="email-signup " >Email:</label>
        <input type="text" id="email-signup" class="form-control"/>
    </div>
    <div class="inputPassword">
        <label for="password-signup" >Password:</label>
        <input type="password" id="password-signup"class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-secondary btn-block">Signup</button>
    </div>
</form>
</section>
<script src="/javascript/login.js"></script>