<div class="jumbotron bg-light">
    <h1 class="display-4">Heres how your team felt today</h1>
    <div class="container mt-4">
        <div class="row">
            <!--{{#each Emoji (partials?)}}-->
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/happyCapture.PNG"><p class="text-center text-dark">Happy</p></a>
            <br>
            <!--{{#if status}}-->
            <p class="text-center">#</p>
            <!--/if-->
            <!--{{#each Name}}-->
            <br>
            <p class="text-center">Michael</p>
            <!--{{/each}}-->
            </div>
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/neutralCapture.PNG"><p class="text-center text-dark">Neutral</p></a></div>
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/sadCapture.PNG"><p class="text-center text-dark">Sad</p></a></div>
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/verysadCapture.PNG"><p class="text-center text-dark">Very Sad</p></a></div>
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/angryCapture.PNG"><p class="text-center text-dark">Angry</p></a></div>
            <div class="col-sm"><a href="#"><img class="rounded mx-auto d-block" src="./emojis/tiredCapture.PNG"><p class="text-center text-dark">Tired</p></a></div>
            <!--{{/each}}-->
        </div>
        <br>
    </div>
</div>