<div class="jumbotron bg-light">
    <h1 class="display-4">Heres how your team felt today</h1>
    <div class="container mt-4">
            {{> emoji}}
        <br>
        <!--add colx6 including team status totals-->
    </div>
</div>